.table_container {
    font-size: 40px;
    align-items: center;
    border: solid white 2px;
    border-radius: 10px;
}

.table {
    border-collapse: collapse;
}

.table > *:not(:first-child) {
    border-top: 1px solid white;
}

.table > * > * {
    padding: 5px 20px;
}

.manual_count {
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    width: 40px;
    height: 40px;
}

.manual_div {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}
